.logo__mark,
.logo__text {
  font-size: 1rem;
}

.post-title > a {
  pointer-events: none;  
  text-decoration: none; 
  color: inherit;        
  cursor: default;
}
.post-title > a:hover,
.post-title > a:focus {
  text-decoration: none;
}

body.about, .about-content {
  overflow: hidden !important;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
body.about::-webkit-scrollbar, .about-content::-webkit-scrollbar {
  display: none;
}

hr, .footer, .about-page-footer, .about-content-footer {
  display: none !important;
  border: none !important;
}

ul {
  margin-bottom: 2em; 
}

.info-page ul {
  margin-bottom: 2em;
}

@media (max-width: 600px) {
  .container > .content > main > div > h1 {
    font-size: 1rem !important;
    text-align: center;
    padding: 4px, 4px;
  }
}